@{
    Layout = "~/Layouts/_MainLayout.cshtml";
    PageData["Title"] = "Travel album";
}
    <div class="heading container">
        <h1>Welcome to the fёirst travel album in the universe!</h1>
    </div>

