@{
    Layout = "~/Layouts/_MainLayout.cshtml";
    PageData["Title"] = "My album";
}
    <div>
        <h1>My album</h1>
        <a href="~/Pages/AddNewPhoto.cshtml" class="btn btn-outline-light" role="button" aria-pressed="true">Add new photo</a>
    </div>

