@using Entities;
@using Epam.FinalTask;
@using Loc;
@{
    Layout = "~/Layouts/_MainLayout.cshtml";
    IEnumerable<Photo> AllPhoto = DependencyResolver.PhotoLogic.GetAllPhoto();
    int Like = 0;
    int UserId = MyRoleProvider.GetUserId(User.Identity.Name);
    Like = Convert.ToInt32(Request["Like"]);
    if(IsPost && Like != 0 && UserId != 0)
    {
        DependencyResolver.PhotoLogic.LikePhoto(Like, UserId);
    }
}
<h1>Search photo</h1>

<div class="input-group col-md-3 mb-3">
    <select class="custom-select" id="inputGroupSelect02">
        <option value="1">Country</option>
        <option value="2">Author username</option>
    </select>
    <div class="input-group-append">
        <label class="input-group-text" for="inputGroupSelect02">Search by</label>
    </div>
</div>

<div class= "input-group col-md-3 mb-3">
    <select class="custom-select" id="inputGroupSelect02">
        <option value="1">Likes</option>
        <option value="2">Upload date</option>
    </select>
    <div class="input-group-append">
        <label class="input-group-text" for="inputGroupSelect02">Sort by</label>
    </div>
</div>

@*@foreach (Photo item in AllPhoto)
{
    <div class="photo">
        @item.Title
        <br />
        <img class="userimage" src="@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(item.Image))">
        <div>
            Country: @item.Country
            <br />
            @if (User.Identity.Name != "")
            {
                <form class="photoButton" action="~/Pages/AllPhoto" method="post">
                    <button type="submit" class="btn btn-outline-light" name="Like" value=@item.Id>Like : @item.LikeUsersList.Count()</button>
                </form>
            }
        </div>
    </div>
}*@


